body{
    background-color: white;
    font-family:monospace;
}

.box{
    width: 300px;
    margin: 22px auto 20px auto;

}

.frase{
    text-align:center;
}

.data{
    text-align:center;
}

#title{
    text-align:center;
   
}

#date{
    text-align:center;
    
}
.showImg{
   width: 50%;
   margin-left: 25%;
   margin-right:25%;
   border-radius: 5px;
   padding: 15px;
   background: black;
   display:show;
   
}
.hideVid{
    display:none;
}
.showVid{

    width: 50%;
    height:400px;
    margin-left: 25%;
    margin-right:25%;
    border-radius: 5px;
    padding: 15px;
    background: #b9cced;
   
}
.hideImg{
    display:none;
}
#explanation{
    font-size:larger;
    text-align:center;
    padding:20px;
}
#titleOfimg{
    text-align:center;
    font-weight: bold;

}


